<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/nepal/">Go to Nepal</a>
    <a href="/expenses/">My Expenses</a>
    <a href="/add-expense/">Add New Expense</a>
    <h3>Expense Entry Form</h3>
    <form action="" method="post">
        {% csrf_token %}
        Expense Topic: <input type="text" name="topic" required><br><br>
        Expense By: 
        <select name="exp_by">
            {% for s in all_students %}
            <option value="{{s.id}}">{{s.name}}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        Expense Amount: <input type="number" name="amount" required><br><br>
        Date: <input type="date" name="date" required><br><br>
        <button>Submit Data</button>
    </form>
</body>
</html>