<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Expense List</title>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <style>
        table{
            border-collapse: collapse;
            width: 100%;
        }
        td, th{
            border: 2px solid rgb(17, 219, 202);
        }
        thead{
            background-color: rgb(23, 207, 183);
            color: white;
        }
        tr:hover{
            background-color: rgb(47, 221, 207);
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a href="/">Home</a>
    <a href="/nepal/">Go to Nepal</a>
    <a href="/expenses/">My Expenses</a>
    <a href="/add-expense/">Add New Expense</a>
    <hr>
    <h1>Your expense list</h1>
    <!-- {% for i in all_expenses %}
    <li style="color: rgb(3, 95, 180);">{{i.topic}}</li>
    <p style="margin-left: 20px;color: red;">Amount: Rs. {{i.amount}}/-</p>
    <p>Date: {{i.date}}</p>
    {% endfor %} -->
    <table id="myTable">
        <thead>
            <tr>
                <th>SN</th>
                <th>Topic</th>
                <th>Student</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for i in all_expenses %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.topic}}</td>
                <td>{{i.student}}</td>
                <td>{{i.date}}</td>
                <td>{{i.amount}}</td>
            </tr>
            {% endfor %}  
            <!-- <tr>
                <th colspan="4" style="text-align: right;">Total</th>
                <th>{{total_expense}}</th>
            </tr> -->
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
</body>
</html>